<%
 title "About Us"
 meta_description 'About Us - Base App'
 heading "About Us!"
%>

<div class="page-header">
  <h1 class="text-center"><%= yield :heading %></h1>
</div>


<p>Find me in app/views/pages/about_us.html.erb</p>
