<%
 title "#{app_title} - About Us"
 meta_description "About Us - #{app_title}"
 heading "About Us!"
 pclass "signin-page"
%>


<div class="page-header">
  <h1 class="text-center"><%= yield :heading %></h1>
</div>


<p>Find me in app/views/pages/about_us.html.erb</p>
