<%
 title "Contact Us"
 meta_description 'Contact Us - Base App'
 heading "Contact Us!"
%>

<div class="page-header">
  <h1 class="text-center"><%= yield :heading %></h1>
</div>

<p>Find me in app/views/pages/contact.html.erb</p>
