<%
 title "Base App - Welcome"
 meta_description 'Base App'
 heading "Welcome!"
%>

<div class="page-header">
  <h1 class="text-center"><%= yield :heading %></h1>
</div>

<p>Find me in app/views/pages/home.html.erb</p>
