.debug {
  padding: 25px !important;
  margin: 25px !important;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.pm-80 {
  margin-top: 80px;
}

.recaptcha_error {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.jumbotron {
  padding-top: 25px !important;
}

.signup_background {
  background: image-url('beach_small.jpg');
}

.signin_background {
  background: image-url('rocky_water_small.jpg');
}

.contact_background {
  background: image-url('maps_small.jpg');
}

.aboutus_background {
  background: image-url('office_space_sm.jpg');
}

.home_background {
  background: image-url('office_space_sm.jpg');
}

.g-recaptcha {
  display: inherit;
}

.recaptcha {
  display: inline-block;
}

.social_login_btn {
  border-bottom: none !important;
}

.login-page .input-group.form-group-no-border.input-lg .form-control {
  height: calc(2.25rem + 10px);
}

.login-page .page-header > .content {
  margin-top: 5% !important;
}

.signup-page .page-header > .content {
  margin-top: 5% !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

ul.privacy {
  list-style-type: none;
}